# ======================
# Secrets & environment
# ======================
.env

# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# ======================
# Jupyter Notebook
# ======================
.ipynb_checkpoints/

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/
